<h1 class="text-center font-weight-bold text-capitalize">Album de Hip-Hop</h1>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="['/Acceuil']">Acceuil</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/Catalogue']">Catalogue</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/Panier']">Panier<span class="badge" *ngIf="PanierRempli()">{{ nbrAlbums }}</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/Inscription']">Inscription</a>
          </li>
      </ul>
    </div>
  </nav>
